<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <header>
    <h1>Best Books!</h1>
  </header>
  <main>
    <%- include('detail.ejs', { book: book }) %>
    <%- include('edit.ejs') %>
  </main>
  <a href="pages/index">Return to Your Shelf</a>
  <footer><span></span><span></span><span></span><span></span></footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../../js/app.js"></script>
</body>

</html>