<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head') %>
</head>

<body>
  <header>
    <h1>Best Books!</h1>
  </header>
  <main>
    <%- include('detail.ejs', { book: book }) %>
  </main>
  <a href="pages/index">Return to Your Shelf</a>
  <footer><span></span><span></span><span></span><span></span></footer>
</body>

</html>

<!-- /layout/head -->