<!DOCTYPE html>
<html>

<head>
  <title>Error!</title>
  <link href="../styles/reset.css" type="text/css" rel="stylesheet" />
  <link href="../styles/base.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <main>
    <h1>Uh-oh!</h1>
    <p>Something went wrong.</p>
  </main>
</body>

</html>