<!DOCTYPE html>
<html>

<head>
  <title>Books.Wiki Homepage</title>
</head>

<body>
  <header>
    <h1>Books.Wiki</h1>
  </header>
  <main>
    <section>
      <p><%= testObject %></p>
    </section>
  </main>
</body>

</html>