<!DOCTYPE html>
<html>

<head>
  <title>Books.Wiki Homepage</title>
  <link href="../public/styles/reset.css" type="text/css" rel="stylesheet" />
  <link href="../public/styles/base.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <header>
    <h1>Books.Wiki</h1>
  </header>
  <main>
    <section>
      <p><%= testObject %></p>
    </section>
  </main>
</body>

</html>