body {
  background-color: blue;
}

section {
  border: 3px dotted black;
}

h1 {
  color: yellow;
}

img {
  border: 2px solid gray;
}

h3 {
  color: white;
}

strong {
  color: white;
}

li {
  list-style-type: none;
}

p {
  color: white;
}